arrow==0.17.0
azure-core==1.14.0
azure-cosmos==4.2.0
cassiopeia==4.0.18
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
datapipelines==1.0.7
decorator==4.4.2
Flask==2.0.0
idna==2.10
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
merakicommons==1.0.10
networkx==2.5.1
Pillow==8.2.0
python-dateutil==2.8.1
requests==2.25.1
six==1.16.0
tornado==6.1
urllib3==1.26.4
Werkzeug==2.0.0
