{% extends "base_layout.html" %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 mt-4 mb-5">

				<h4 class="mb-4">Match history of: {{ summoner_name }}</h4>

				<div class="list-group">
					{% for match in matches %}
						<form action="/details" method="post">
							<input type="hidden" value="{{ summoner_name }}" name="summonerName"/>
							<input type="hidden" value="{{ match.id }}" name="match"/>
							<button class="w-100" type="Submit"
							        style="background: none; color: inherit; border: none; padding: 0; font: inherit; outline: inherit">
								<div class="text">
									<a href="#"
									   class="list-group-item list-group-item-action flex-column align-items-start"
									   style="background-color: {{ match|get_background_color(summoner_name) }}">
										<div class="row">
											<div class="col-3">
												<img src="{{ match|get_champ_image(summoner_name) }}" class="img-fluid">
											</div>
											<div class="col-9" style="text-align: start">
												<div class="d-flex w-100 justify-content-between">
													<h5 class="mb-1">{{ match|get_champ_name(summoner_name) }}</h5>
													<small>{{ match.creation.humanize() }}</small>
												</div>
												<p class="mb-3 mt-2">
													<span><b>Stats:</b> {{ match|get_stats(summoner_name) }}</span>
													<br/>
													<span><b>CS:</b> {{ match|get_cs(summoner_name) }}</span>
												</p>
												<small>{{ match.queue|get_queue_name }}</small>
											</div>
										</div>
									</a>
								</div>
							</button>
						</form>
					{% endfor %}
				</div>

				<form action="/search" method="post" class="row justify-content-between mt-3">

					<input type="hidden" value="{{ summoner_name }}" name="summonerName"/>
					<input type="hidden" value="{{ page }}" name="page"/>

					{% if (page | int) > 1 %}
						<div class="col-2">
							<button type="submit" class="btn btn-primary" value="search_prev" name="submit_button">
								Previous
							</button>
						</div>
					{% else %}
						<div class="col-2"></div>
					{% endif %}

					<div class="col-2 align-self-center mb-1">Page: {{ page }}</div>

					<div class="col-2">
						<button id="btNext" type="submit" class="btn btn-primary float-right" value="search_next"
						        name="submit_button">Next
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	<script>
        $(document).ready(function () {
            $("#btNext").click(function () {
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm mt-1" role="status" aria-hidden="true"></span> Next...`
                );
            });
        });
	</script>
{% endblock %}